# Importing the needed libraries

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline
sns.set()

# Importing the data

In [3]:
train = pd.read_csv('Train.csv')
test = pd.read_csv('Test.csv')
submit = pd.read_csv('SampleSubmission.csv')

In [4]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12079 entries, 0 to 12078
Data columns (total 14 columns):
ID                        12079 non-null object
Policy Start Date         12079 non-null object
Policy End Date           12079 non-null object
Gender                    11720 non-null object
Age                       12079 non-null int64
First Transaction Date    12079 non-null object
No_Pol                    12079 non-null int64
Car_Category              8341 non-null object
Subject_Car_Colour        5117 non-null object
Subject_Car_Make          9603 non-null object
LGA_Name                  5603 non-null object
State                     5591 non-null object
ProductName               12079 non-null object
target                    12079 non-null int64
dtypes: int64(3), object(11)
memory usage: 1.3+ MB

In [5]:
train.head()

,ID,Policy Start Date,Policy End Date,Gender,Age,First Transaction Date,No_Pol,Car_Category,Subject_Car_Colour,Subject_Car_Make,LGA_Name,State,ProductName,target
0,0040R73,2010-05-14,2011-05-13,Male,30,2010-05-14,1,Saloon,Black,TOYOTA,NaN,NaN,Car Classic,0
1,0046BNK,2010-11-29,2011-11-28,Female,79,2010-11-29,1,JEEP,Grey,TOYOTA,NaN,NaN,Car Classic,1
2,005QMC3,2010-03-21,2011-03-20,Male,43,2010-03-21,1,Saloon,Red,TOYOTA,NaN,NaN,Car Classic,0
3,0079OHW,2010-08-21,2011-08-20,Male,2,2010-08-21,1,NaN,NaN,NaN,NaN,NaN,CarSafe,0
4,00BRP63,2010-08-29,2010-12-31,Entity,20,2010-08-29,3,NaN,NaN,NaN,Lagos,Lagos,Muuve,1

In [6]:
submit.head()

        ID  target
0  009D84L       0
1  01DO2EQ       0
2  01QM0NU       0
3  024NJLZ       0
4  02BYET3       0